body{
    margin: 0;
}
header {
    color: #141414;
    height: 60px;
    background-color: #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
   
    padding: 10px;
    margin: 0;
}
h1{
    margin:0;
    font-family: 'SMW Text NC', sans-serif;
    font-family: 'SMW Text 2 NC', sans-serif;
    text-align: center;

    color: #F0F0F0;
    font-size: 30px;
    padding: 0px;
}
h2{
    margin: 0;
    padding: 5px 0px;
    font-family: "Varela Round", 'normal';
    text-align: center;

    color: #F0F0F0;
    font-size: 30px;
}
/**** CLASS SELECTORS ****/
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #2d8914; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 4s steps(40, end),
      blink-caret .75s step-end infinite;
      animation-fill-mode: forwards 80%;

    animation-iteration-count: infinite;  
    
    
  }


  /* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 60% }
  } 
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #2d8914 }
  }



.logo{
    font-size: 30px;
    font-weight: bold;
    color: #5A5A5A;
    font-family: "Varela Round", 'normal';
}
.hamburger{
    display: none;

}


.nav-bar ul{
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    
    
}
.nav-bar ul li a{
    box-sizing: border-box;
    text-decoration: none;
    display: block;
    color: #f0f0f0;
    font-size: 20px;
    font-family: "Varela Round", 'normal';
    padding: 10px 25px;
    border-radius: 50px;
    
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    background-color: #9e9e9e;
}
.main-section{
    background-color: #b3b3b3;
    margin: 0;
    height: 400px;
}
.curved svg {
    display: block;
    background-color: #F0F0F0;
    margin: 0;
    
}
.main-info{
    background-color: #f0f0f0;
    margin: 0;
    height: 950px;
    padding-top: 45px;
}
.main-logo{
    height: 450px;
    width: 850px;
    padding: 20px;
    margin-top: 40px;
    border: none;
}
.banner {
    margin-top: 0px;
    margin-left: 30%;
    padding-top: 15px;
    text-align: center;
    background-color: #44157D;
    color: #F0F0F0;
    width: 40%;
    height: 50px;
    bottom: 25%;
    
    position: absolute;
    border-radius: 15px;
    
}
.container {
    position: relative;
}
.slideshow-container{
    background-color: #44157D;
    height: 550px;
    width:70%;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 100px;
    padding: 15px;

}
.banner-2 {
    
    margin: auto;
    
    background-color: #2d8914;
    color: #F0F0F0;
    width: 20%;
    
    border-radius: 15px;
    padding: 15px;
    font-family: "Varela Round", 'normal';
    text-decoration: none;
    display: block;
    font-size: 30px;
    text-align: center;
}.banner-2 a{
    
    margin: auto;
    
    background-color: #2d8914;
    color: #F0F0F0;
    width: 20%;
    
    border-radius: 15px;
    padding: 15px;
    font-family: "Varela Round", 'normal';
    text-decoration: none;
    display: block;
    font-size: 30px;
    text-align: center;
}
.banner-2 a:hover{
    background-color: #1b510c;
}



.bottom-section{
    background-color: #b3b3b3;
    height:50px;
    width:100%;
}