body{
    margin: 0;
}
h1{
    margin:0;
}
/**** CLASS SELECTORS ****/
.menu-bar{
    color: #141414;
    height: 50px;
    background-color: #B3B3B3;
    text-align: center;
    padding: 10px;
    margin: 0;
     
}
.main-section{
    background-color: #b3b3b3;
    margin: 0;
    height: 400px;
}
.curved svg {
    display: block;
    background-color: #B3B3B3;
    margin: 0;
    
}
.main-info{
    background-color: #f0f0f0;
    margin: 0;
}
.main-logo{
    height: 300px;
    width: 750px;
    padding: 20px;
    margin-top: 40px;
}